body{
    background-color: skyblue;
    box-sizing: border-box;
    padding: 0 15px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: bisque;
    padding: 20px 40px;
    border-radius: 13px;
    
}
.wrap{ 
    border: 3px solid black;
    background-color: blueviolet;
    padding:40px ; 
    margin-bottom: 30px;
    border-radius: 9px;
    margin-left: 15px;

}
.wrapper{
    width: 150px;
    height: 150px;
    background-color: green;
    border: 10px dotted goldenrod;
    border-style: outset;
    border-radius: 6px;
    padding: 15px;
    margin-left: 15px;
    
}
a{
    color: black;
}
/*{}*/
